<main class="w-full flex justify-center items-center flex-col">
	<h1>Formulario de registro</h1>
	<hr class="w-1/2" />
	<form
		[formGroup]="registerForm"
		(ngSubmit)="onSubmit()"
		class="w-1/2 grid grid-cols-1 md:grid-cols-2 gap-1"
	>
		<app-input label="ID" [control]="registerForm.controls.id" />
		<app-input label="Nombre" [control]="registerForm.controls.name" />
		<app-input label="Descripción" [control]="registerForm.controls.description" />
		<app-input label="Logo" [control]="registerForm.controls.logo" />
		<app-input
			label="Fecha Liberación"
			[control]="registerForm.controls.date_release"
			inputType="date"
		/>
		<app-input
			label="Fecha Revisión"
			[control]="registerForm.controls.date_revision"
			inputType="date"
		/>
	</form>
	<section class="flex justify-center items-center gap-5">
		<app-button
			[label]="this.id() ? 'Cancelar' : 'Reiniciar'"
			(onClick)="this.id() ? onCancel() : onReset()"
		/>
		<app-button label="Enviar" (onClick)="onSubmit()" />
	</section>
</main>
