.table-container {
  /* max-width: 60rem; */
  margin: 0 auto;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  text-align: left;
}
th, td {
  padding: 0.75rem;
  border-bottom: 1px solid #e2e8f0;
}
th {
  background-color: #f7fafc;
}
.info-icon {
  cursor: pointer;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.table-footer span {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.table-footer select {
  padding: 0.5rem;
  border: 1px solid #d2d6dc;
  border-radius: 0.25rem;
}
