<section class="table-container">
	<table>
		<thead>
			<tr>
				<th>Logo</th>
				<th>Nombre del producto</th>
				<th>Descripción <span class="info-icon" title="Product description info">ℹ️</span></th>
				<th>Fecha de liberación <span class="info-icon" title="Release date info">ℹ️</span></th>
				<th>
					Fecha de reestructuración <span class="info-icon" title="Restructure date info">ℹ️</span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<app-logo />
				</td>
				<td>Nombre del producto</td>
				<td>Descripción</td>
				<td>01/01/2000</td>
				<td>01/01/2001</td>
			</tr>
			<tr>
				<td>
					<app-logo />
				</td>
				<td>Nombre del producto</td>
				<td>Descripción</td>
				<td>01/01/2000</td>
				<td>01/01/2001</td>
			</tr>
			<tr>
				<td>
					<app-logo />
				</td>
				<td>Nombre del producto</td>
				<td>Descripción</td>
				<td>01/01/2000</td>
				<td>01/01/2001</td>
			</tr>
			<tr>
				<td>
					<app-logo />
				</td>
				<td>Nombre del producto</td>
				<td>Descripción</td>
				<td>01/01/2000</td>
				<td>01/01/2001</td>
			</tr>
			<tr>
				<td>
					<app-logo />
				</td>
				<td>Nombre del producto</td>
				<td>Descripción</td>
				<td>01/01/2000</td>
				<td>01/01/2001</td>
			</tr>
		</tbody>
	</table>
	<footer class="table-footer">
		<span>5 Resultados</span>
		<select>
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="15">15</option>
		</select>
	</footer>
</section>
